<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820009321557-f687e9qsb6rhd9obhqg5i3judvjk2m45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820009321557-f687e9qsb6rhd9obhqg5i3judvjk2m45</string>
	<key>API_KEY</key>
	<string>AIzaSyBCnkV2FEufh86W4G4BHahlHeLRLB_QbaM</string>
	<key>GCM_SENDER_ID</key>
	<string>820009321557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oluwakemi.Onajinrin.BuyAgro</string>
	<key>PROJECT_ID</key>
	<string>buyagric-986bd</string>
	<key>STORAGE_BUCKET</key>
	<string>buyagric-986bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820009321557:ios:bfa9eeb2a9464b359900dc</string>
</dict>
</plist>